{% extends "ap2.j2" %}

{% block summary %}
<p>Het applicatieprofiel OSLO-Publicaties, een profiel en het vocabularium <a href="IN TE VULLEN ">OSLO-Publicaties </a>, legt uit hoe de terminologie omtrent advertenties en publicaties gebruikt moet worden om gegevens uit te wisselen over het uitwisselen van informatie tussen bepaalde stakeholders.</p>
<p>Gezien het belang van een goede informatisering, de stimulatie van de lokale economie & handelaren en de heropleving van stadskernen werden zoveel mogelijke relevante elementen meegenomen om dit geheel zo goed mogelijk te kunnen ondersteunen </p>
<p>Als basis voor het applicatieprofiel voor Advertenties - Publicaties konden we gebruik maken van de gedachtegang die gefaciliteerd werd bij XXX. </p>
<p>De verschillende grote blokken in het applicatiemodel zijn de volgende: OSLO-Adres, OSLO-Advertentie, OSLO-Generiek, OSLO-Organisatie, OSLO-Persoon,OSLO-Infrastructuurelementen en OSLO-OpenbaarDomein </p>
<p>OSLO-Generiek: Agent is een voorbeeld van een actor die in aanraking zal komen met het platform, meer specifiek een handelaar, een medewerker van de overheid, de handelszaak of overheid zelf. </p>
<p> Aan de hand van publicaties op het digitaal platform zullen de agenten bepaalde informatie kunnen weergeven op verschillende elementen vanwaar ze de gewenste doelgroep kunnen bereiken, een van deze elementen is bijvoorbeeld het Infstructuurelement - digitale informatiezuil .</p>
VERVOLG NEEDED
{% endblock %}
{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
