{% extends "voc2.j2" %}

{% block summary %}
<p> Het vocabularium van OSLO Publicatie-Advertentie is verzameling van alle verschillende elementen die belangrijk zijn voor het standardiseren van plaatsen van advertenties en publicaties</p>
<p>De meeste termen werden gemapt op meerdere bestaande standaarden: <a href="https://www.cidoc-crm.org/">CIDOC-CRM</a> en <a href="https://www.cidoc-crm.org/frbroo/home-0">FRBRoo</a>.</p>
<p>Daarnaast definieert dit vocabularium enkele eigen termen. Deze zijn te vinden onder Klassen en Eigenschappen, terwijl de gemapte termen opgelijst staan onder Externe Terminologie.</p>
{% endblock %}
